*{
    margin: 0;
    padding: 0;
}

div.main{
    width: 400px;
    margin: 100px auto 0px auto;
    padding: 20px;
    font-family:sans-serif
}

div.inner{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;

}

.heading{
    text-align: center;
    margin: 30px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-left: 40px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

input{
    margin-bottom: 15px;
    border: 1px solid #ddd;
    width: 300px;
    margin-left: 40px;
    border-radius: 3px;
    padding: 6px;
    background-color: aliceblue;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

button{
    width: 200px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(247, 168, 51, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid
    rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3) ;
}
